html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
}

ul {
  list-style: inside;
  margin-top: 50px;
  padding: 0;
}

.videos {
  width: 300px;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2)
}

.videos li {
  padding: 20px;
  border-bottom: solid 1px rgba(0,0,0,0.2)
}
